@font-face {
  font-family: "Noto Sans";
  src: url("https://raw.githubusercontent.com/notofonts/notofonts.github.io/refs/heads/main/fonts/NotoSans/hinted/ttf/NotoSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("https://raw.githubusercontent.com/notofonts/notofonts.github.io/refs/heads/main/fonts/NotoSans/hinted/ttf/NotoSans-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("https://raw.githubusercontent.com/notofonts/notofonts.github.io/refs/heads/main/fonts/NotoSans/hinted/ttf/NotoSans-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("https://raw.githubusercontent.com/notofonts/notofonts.github.io/refs/heads/main/fonts/NotoSans/hinted/ttf/NotoSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans CJK JP";
  src: url("https://raw.githubusercontent.com/notofonts/noto-cjk/refs/heads/main/Sans/OTF/Japanese/NotoSansCJKjp-Regular.otf");
  font-display: swap;
}
@font-face {
  font-family: "iosevie";
  src: url("https://raw.githubusercontent.com/mi2ebi/iosevie/refs/heads/main/dist/Iosevie/TTF/Iosevie-Regular.ttf");
  font-display: swap;
}
