@font-face {
    font-family: "Noto Sans";
    src: url("fonts/NotoSans-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Armenian";
    src: url("fonts/NotoSansArmenian-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Hebrew";
    src: url("fonts/NotoSansHebrew-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Arabic";
    src: url("fonts/NotoSansArabic-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Syriac";
    src: url("fonts/NotoSansSyriac-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Devanagari";
    src: url("fonts/NotoSansDevanagari-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Bengali";
    src: url("fonts/NotoSansBengali-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Tamil";
    src: url("fonts/NotoSansTamil-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Grantha";
    src: url("fonts/NotoSansGrantha-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Thai";
    src: url("fonts/NotoSansThai-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Lao";
    src: url("fonts/NotoSansLao-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Serif Tibetan";
    src: url("fonts/NotoSerifTibetan-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Myanmar";
    src: url("fonts/NotoSansMyanmar-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Georgian";
    src: url("fonts/NotoSansGeorgian-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Khmer";
    src: url("fonts/NotoSansKhmer-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Mongolian";
    src: url("fonts/NotoSansMongolian-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Math";
    src: url("fonts/NotoSansMath-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Symbols";
    src: url("fonts/NotoSansSymbols-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Symbols 2";
    src: url("fonts/NotoSansSymbols2-Regular.ttf");
    font-display: swap;
    unicode-range: 0000-269f, 26a1-10ffff;
}
@font-face {
    font-family: "Noto Sans Avestan";
    src: url("fonts/NotoSansAvestan-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Cuneiform";
    src: url("fonts/NotoSansCuneiform-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans CJK HK";
    src: url("fonts/NotoSansCJKhk-Regular.otf");
    font-display: swap;
    unicode-range: 0000-269f, 26a1-10ffff;
}
@font-face {
    font-family: "Tangut Yinchuan";
    src: url("fonts/TangutYinchuan.ttf");
    font-display: swap;
}
:root {
    --sans: "Noto Sans", "Noto Sans Armenian", "Noto Sans Hebrew", "Noto Sans Arabic", "Noto Sans Syriac", "Noto Sans Devanagari", "Noto Sans Bengali", "Noto Sans Tamil", "Noto Sans Grantha", "Noto Sans Thai", "Noto Sans Lao", "Noto Serif Tibetan", "Noto Sans Myanmar", "Noto Sans Georgian", "Noto Sans Khmer", "Noto Sans Mongolian", "Noto Sans Math", "Noto Sans Symbols", "Noto Sans Symbols 2", "Noto Sans Avestan", "Noto Sans Cuneiform", "Noto Sans CJK HK", "Tangut Yinchuan", ui-sans-serif, sans-serif;
}