* {
    box-sizing: border-box;
    transition: background-color 0.2s;
}
body {
    font-family: var(--sans), "Iosevka Toaq Aile";
    max-width: 600px;
    margin: 0 auto;
    padding: 8px;
    background-color: #ededfc; /* 95 .02 288 */
    word-break: break-word;
}
#btns, #len {
    white-space: nowrap;
}
#search {
    font-size: 20px;
    padding: 4px;
    width: 300px;
    font-family: var(--sans), "Iosevka Toaq Aile";
    border: none;
    margin-bottom: 4px;
}
::placeholder, .scope {
    opacity: 1;
    color: #636363; /* 50 0 0 */
}
.scope {
    display: inline-block;
}
a {
    color: #1c6e80; /* 50 .08 216 */
    text-decoration: none;
    text-decoration-color: #1c6e80 !important;
    cursor: pointer;
}
a:hover {
    text-decoration: solid underline;
}
code {
    color: #7f5b2b; /* 50 .08 72 */
    font-family: "Iosevka Toaq", var(--sans);
}
:is(#bottom, #res, #len):not(:empty) ~ #howto {
    display: none;
}
#bottom, #res {
    margin-top: 12px;
}
.indent {
    text-indent: 20px hanging each-line;
}
dt {
    margin-top: 1em;
    margin-bottom: 0.2em;
}
dt a:not([class], [href*=toadua\.uakci\.space]) {
    color: inherit;
}
dd {
    margin-left: 20px;
}
.toa {
    color: #615c8e; /* 50 .08 288 */
    font-weight: 700;
}
.u25af {
    font-family: sans-serif;
}
.score, .score a {
    color: #805175; /* 50 .08 336 */
}
.notes {
    font-size: small;
    margin-top: 0.2em;
}
button {
    font-size: 16px;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 2px 4px;
    background-color: #1c6e80;
    color: #fff;
}
button:hover {
    cursor: pointer;
}
:focus {
    outline: 1px solid #8b504d; /* 50 .08 24 */
}
mark {
    background-color: #716328; /* 50 .08 96 */
    padding: 2px;
    border: 1px solid #fff;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #211e34; /* 25 .04 288 */
        color: #fff;
    }
    input {
        background-color: #000;
        color: #fff;
    }
    ::placeholder, .scope {
        color: #aeaeae; /* 75 0 0 */
    }
    a {
        color: #37c0de; /* 75 .12 216 */
        text-decoration-color: #37c0de !important;
    }
    code {
        color: #dda151; /* 75 .12 72 */
    }
    .toa {
        color: #aaa1f6; /* 75 .12 288 */
    }
    .score, .score a {
        color: #de90cb; /* 75 .12 336 */
    }
    button {
        border: 1px currentColor solid;
        color: #37c0de;
        background: none !important;
    }
    :focus {
        outline-color: #f08e89 /* 75 .12 24 */;
    }
    mark {
        background-color: none;
        border-color: #c5ad4c; /* 75 .12 96 */
    }
}