name: the
permissions:
  contents: write
on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * * 

jobs:
  the:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: the
        run: cargo run
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: update
          
